<mat-grid-list cols="2" rowHeight="2:1">

    <mat-grid-tile>

        <div style="text-align:center;"><br><br>
            <input type="text" placeholder="Loan Amount" class="form-control" [(ngModel)]='loans.loanAmount'><br><br>
            <select name="Type Of Loan" id="loan_type" [(ngModel)]='loans.loanType'>
                <option value="personal loan">Personal Loan</option>
                <option value="auto loan">Auto Loan</option>
                <option value="gold loan">Gold Loan</option>
                <option value="education loan">Education Loan</option>
            </select><br><br>
            <input type="text" placeholder="Loan Term(in years)" class="form-control" [(ngModel)]='loans.loanTerm'><br><br>
            <input type="text" placeholder="Loan Handling Fees" class="form-control" [(ngModel)]='loans.loanHandlingFees'><br><br>
            <input type="text" placeholder="Origination Account" class="form-control"
                [(ngModel)]='loans.originationAccount'><br><br>

            <select name="Loan Status" [(ngModel)]='loans.status'>
                <option value="req">Requested</option>
                <option value=pro>Processing</option>
                <option value="app">Approved</option>
                <option value="rej">Rejected</option>
            </select><br><br>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div style="text-align:center;"><br><br>
            <input type="text" placeholder="Applicant Business Name" class="form-control"
                [(ngModel)]='loans.applicantBusinessName'><br><br>
            <textarea id="appBusinessAddress" name="appBusinessAddress" rows="3" cols="25"
                placeholder="Applikant Business Address" class="form-control" [(ngModel)]='loans.applicantBusinessAddress'>

                    </textarea><br><br>
            <input type="number" placeholder="Applicant Business Contact" class="form-control"
                [(ngModel)]='loans.applicantBusinesscontact'><br><br>
            <input type="email" placeholder="Applicant Business Email" class="form-control"
                [(ngModel)]='loans.applicantBusinessEmail'><br><br>
            <input type="text" placeholder="Applicant Business Ownership %" class="form-control"
                [(ngModel)]='loans.applicantBusinessOwnership'><br><br>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div style="text-align:center;"><br><br>
            <input type="text" placeholder="Property_Name" class="form-control" [(ngModel)]='loans.propertyName'><br><br>
            <input type="text" placeholder="Property Address" class="form-control" [(ngModel)]='loans.propertyAddress'><br><br>
            <input type="text" placeholder="Type of Property" class="form-control" [(ngModel)]='loans.typeOfProperty'><br><br>
            <input type="text" placeholder="Property Size" class="form-control" [(ngModel)]='loans.propertySize'><br><br>

        </div>
    </mat-grid-tile>
    <mat-grid-tile>


        <div style="text-align:center;"><br><br>
            <input type="text" placeholder="Tax Account Number(TAN)" class="form-control" [(ngModel)]='loans.tan'><br><br>

            <input type="text" placeholder="Permanent Account Number(PAN)" class="form-control" [(ngModel)]='loans.pan'><br><br>
            <input type="number" placeholder="Cibil Score" class="form-control" [(ngModel)]='loans.cibilScore'><br><br>


        </div>
    </mat-grid-tile>
</mat-grid-list>
<button class="btn btn-primary" (click)="onSubmit()">Submit</button>