<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Loan Details</h2>
    </div>
    <div>
        <input type="number" placeholder="Enter loan number" [(ngModel)]='searchItem'>
        <button btn btn-primary (click)="search()">search</button>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Loan No</th>
                    <th>Loan Amount</th>
                    <th>Loan Term</th>
                    <th>Loan Type</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let loan of loans | async">
                    <td>{{loan.loanNo}}</td>
                    <td>{{loan.loanAmount}}</td>
                    <td>{{loan.loanTerm}}</td>
                    <td>{{loan.loanType}}</td>                   
                    <td>{{loan.status}}</td>
                    <td><button (click)="deleteLoan(loan.loanNo)" class="btn btn-danger">Delete</button>
                        <button (click)="updateLoan(loan.loanNo)" class="btn btn-info"
                            style="margin-left: 10px">Update</button>
                        <button (click)="loanDetails(loan.loanNo)" class="btn btn-info"
                            style="margin-left: 10px">Details</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
   
</div>