<h2>About Favorite Finance Now</h2>
<p>Finance Now was founded in 2000 to provide people like you with personal, quick, hassle-free financial products and services. From retail to personal loans (secured or unsecured) to business solutions, we've developed a wide range of finance products to suit your needs - whatever they may be. Over 530,000 Kiwis have trusted us to see them right.

With Finance Now, you can be sure you're dealing with an organisation that knows and understands the needs of real Kiwis. We’re a local company, 100% owned and operated by Kiwis – and proud of it. You can contact our team with any questions you may have.

In 2017, Finance Now acquired The Warehouse Group Financial Services (Warehouse Money). The acquisition included the Purple Visa and Warehouse Money Visa Cards. This acquisition offers our customers even more flexible finance options.

Our parent is SBS Bank (Southland Building Society), like ourselves, puts people first. Established in 1869, it is the first building society in the world to have achieved bank registration while retaining its mutual structure. The SBS Group has assets of $4 billion.

We offer an alternative to the big high-street banks by basing our decisions on your ability to pay and previous credit history. We don't just rely on the value of security you offer. We know that applying for finance can be off-putting, which is why we only ask for information that is directly relevant to the decision making process.

Our experienced lending team handles all personal loan applications and enquiries. When you call us you'll be talking to people like you, who understand your needs. You won't be talking to a call centre in another country that you struggle to understand.

Over 1500 retail stores use Finance Now's Credit Sales facility - giving you, the customer, more choice when you're shopping around. Our nationwide team of Area Managers and dedicated Retailer Support centre provide 7 day a week assistance to all our retailers. If you would like to become a Finance Now Retailer contact your local Area Manager today and they'll get the ball rolling.

We're proud of our "Vision, Values and Mission Statement" and always aim to deliver our products and services with these in focus.

Finance Now is an Associate Member of the Financial Services Federation and we have agreed to be bound by its Code of Conduct; details of which are available by clicking here.

Finance Now is a participant of the Banking Ombudsman Scheme. This scheme provides its participant's customers with a free and independent service to help sort out unresolved issues. Finance Now is bound by the Banking Code of Conduct. For further details see their web site www.bankomb.org.nz.

Finance Now is a responsible lender and an application for finance may be declined if a decision to lend would not, in Finance Now's opinion, be in accordance with its responsible lending obligations. 

Finance Now is a Qualifying Financial Entity under the Financial Advisers Act and a copy of our full written disclosure statement is available here.
</p>