<h2>Loan Details</h2>

<hr />
<table>
    <tr>
        <td>
            <label><b>Loan Amount </b></label> </td><td>{{loans.loanAmount}}
        </td>
        <td>
            <label><b>Loan Term </b></label> </td><td>{{loans.loanTerm}}
        </td>
        <td>
            <label><b>Loan Type </b></label> </td><td> {{loans.loanType}}
        </td>     

    </tr><br>
    <tr>
        <td>
            <label><b>Loan Handling Fees</b></label>  </td><td>{{loans.loanHandlingFees}}
        </td>
        <td>
            <label><b>Origination Account</b></label> </td><td> {{loans.originationAccount}}
        </td>
        <td>
            <label><b>Loan Status </b></label>  </td><td> {{loans.status}}
        </td>     

    </tr><br>
    <tr>
        <td>
            <label><b>Applicant Business Name</b></label> </td><td> {{loans.applicantBusinessName}}
        </td>
        <td>
            <label><b>Applicant Business Address</b></label>  </td><td>{{loans.applicantBusinessAddress}}
        </td>
        <td>
            <label><b>Applicant Business contact </b></label> </td><td> {{loans.applicantBusinesscontact}}
        </td>     

    </tr><br>
    <tr>
        <td>
            <label><b>Applicant Business Email</b></label> </td><td> {{loans.applicantBusinessEmail}}
        </td>
        <td>
            <label><b>Applicant Business Ownership</b></label> </td><td>{{loans.applicantBusinessOwnership}}
        </td>
            

    </tr>
    <br>
    <tr>
        <td>
            <label><b>Property Name</b></label> </td><td> {{loans.propertyName}}
        </td>
        <td>
            <label><b>Property Address</b></label> </td><td> {{loans.propertyAddress}}
        </td>
        <td>
            <label><b>Type Of Property </b></label> </td><td>{{loans.typeOfProperty}}
        </td>     

    </tr><br>
    <tr>
        <td>
            <label><b>Property Size</b></label> </td><td> {{loans.propertySize}}
        </td>
        </tr>
        <br>
    <tr>
        <td>
            <label><b>TAN</b></label>  </td><td>{{loans.tan}}
        </td>
        <td>
            <label><b>PAN</b></label>  </td><td>{{loans.pan}}
        </td>
        <td>
            <label><b>Cibil Score </b></label>  </td><td>{{loans.cibilScore}}
        </td>     

    </tr>
</table>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Loan List</button><br>