<div style="text-align:center;"><br><br>
  <h1>Profile</h1>
  <label> First Name:</label><br>
  <input type="text" class="form-control" [(ngModel)]="user.firstName"><br><br>
  <label> Last Name:</label><br>
  <input type="text" class="form-control" [(ngModel)]="user.lastName"><br><br>
  <label> Email:</label><br>
  <input type="text" class="form-control" [(ngModel)]="user.email"><br><br>
  <label> Contact:</label><br>
  <input type="text" class="form-control" [(ngModel)]="user.contact"><br><br>
  <button class="btn btn-primary"
  (click)="onSubmit()">UPDATE</button>
  </div>